<div class="row form-group">
    <div class="col-sm-4">Your Name (required)</div>
    <div class="col-sm-6">[text* your-name class:form-control]</div>
</div>
<div class="row form-group">
    <div class="col-sm-4">First Name (required)</div>
    <div class="col-sm-6">[text* FNAME class:form-control]</div>
</div>
<div class="row form-group">
    <div class="col-sm-4">Last Name (required)</div>
    <div class="col-sm-6">[text* LNAME class:form-control]</div>
</div>
<div class="row form-group">
    <div class="col-sm-4">Your Email (required)</div>
    <div class="col-sm-6">[email* EMAIL class:form-control]</div>
</div>
<div class="row form-group">
    <div class="col-sm-4">Subject</div>
    <div class="col-sm-6">[text your-subject class:form-control]</div>
</div>


<div class="row form-group">
    <div class="col-sm-4">Your Message (required)</div>
    <div class="col-sm-6">[textarea your-message class:form-control]</div>
</div>
<div class="row form-group">
    <div class="col-sm-4">&nbsp;</div>
    <div class="col-sm-6">[checkbox mc-subscribe "Sign up for mailing list."]</div>
</div>
<div class="row form-group">
    <div class="col-sm-offset-4 col-sm-6">
        [submit "Send" class:btn class:btn-primary]
    </div>
</div>